// background: rgb(206,198,172);
// background: -moz-linear-gradient(90deg, rgba(206,198,172,1) 0%, rgba(206,198,172,1) 30%, rgba(132,117,83,1) 63%, rgba(207,200,173,1) 100%);
// background: -webkit-linear-gradient(90deg, rgba(206,198,172,1) 0%, rgba(206,198,172,1) 30%, rgba(132,117,83,1) 63%, rgba(207,200,173,1) 100%);
// background: linear-gradient(90deg, rgba(206,198,172,1) 0%, rgba(206,198,172,1) 30%, rgba(132,117,83,1) 63%, rgba(207,200,173,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cec6ac",endColorstr="#cfc8ad",GradientType=1);


// https://www.colorzilla.com/gradient-editor/#847553+0,cec6ac+30,847553+63,cfc8ad+100
// background: #847553;
// background: -moz-linear-gradient(45deg,  #847553 0%, #cec6ac 30%, #847553 63%, #cfc8ad 100%);
// background: -webkit-linear-gradient(45deg,  #847553 0%,#cec6ac 30%,#847553 63%,#cfc8ad 100%);
// background: linear-gradient(45deg,  #847553 0%,#cec6ac 30%,#847553 63%,#cfc8ad 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#847553', endColorstr='#cfc8ad',GradientType=1 );